const config = {
    SPOTIFY_CLIENT_ID : '', //set variable equal to your Spotify Client ID
    REDIRECT_URI : 'http://localhost:3000/' //set to the same address as redirect URI on spotify developer dashboard
  }

export default config;